.FloatingActionButton {
    border-radius: 50%;
    height: 4rem;
    min-width: 4rem;
    line-height: 1em;
    z-index: 2;
    margin: auto;

    display: flex;
    justify-content: center;
    transition: font-weight .5s, background-color .5s;
    box-shadow: none !important;

    position: fixed;
    bottom: 5rem;
    right: 5rem;
}

@media (max-width: 800px) {
    .FloatingActionButton {
        bottom: 1rem;
        right: 1rem;
    }
}