.NavigationButton {
    visibility: visible;
    border: none;
    border-color: transparent !important;
    box-shadow: none !important;
    margin: 1em auto;
}

.NavigationButton:disabled {
    visibility: hidden;
}

.NextButton {
    float: right !important;
}

.NextButton > svg {
    float: right;
    margin: auto auto auto .5em;
}


.BackButton {
    float: left !important;
    align-self: start;
}

.BackButton > svg {
    float: left;
    margin: auto .5em auto auto;
}

.NavButtonsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}