.BigChoiceButton {
    height: 13em;
    width: 100%;
    margin: 1em auto 1em auto;
    border-radius: 4px;
    transition: background-color .5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: transparent !important;
    box-shadow: none !important;
}

@media (max-width: 800px) {
    .BigChoiceButton > h3 {
        font-size: x-large;
    }
}

.BigChoiceButton > h3 {
    overflow-wrap: break-word;
}

.BigChoiceButton:disabled {
    background: #bfbfbf;
    color: #2a2a2a;
    border-color: transparent !important;
}

div > .TitleCenterWrapper {
    display: flex;
    justify-content: center;
    margin: 1em;
}


.NavigationButton {
    visibility: visible;
    border: none;
    border-color: transparent !important;
    box-shadow: none !important;
}

.NavigationButton:disabled {
    visibility: hidden;
}

.NextButton {
    float: right !important;
}

.NextButton > svg {
    float: right;
    margin: auto auto auto .5em;
}


.BackButton {
    float: left !important;
    align-self: start;
}

.BackButton > svg {
    float: left;
    margin: auto .5em auto auto;
}

.NavButtonsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}