.launchButton.purple {
    background: #B88BC6;
    color: #ffffff;
    border-color: transparent !important;
    box-shadow: none !important;
}

.launchButton.purple:hover {
    background: #916e9d !important;
}

.launchButton.purple:active {
    background: #72567b !important;
    border-color: transparent !important;
}

.launchButton {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: larger;
    font-weight: bolder;
}

.launchButton.purple {
    font-size: x-large;
}

.separatorBtnTxt {
    height: 1.5em;
}

.alert.infoAlert {
    background: #98be5d1a;
    border-color: #98be5d;
    color: #3d4e23;
}

.alert svg > path {
    fill: currentColor !important;
}